<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace绑定一个对应的mapper接口-->
<mapper namespace="com.dao.Userdao">

    <!--id方法名-->
    <select id="getUserlist" resultType="com.pojo.User">
        select * from mybatis.user
    </select>
    
    <select id="getUserlistlike" resultType="com.pojo.User">
        select * from mybatis.user where name like "%"#{str} "%"
    </select>

    <select id="getUserbyid" resultType="com.pojo.User" parameterType="int">
        select * from mybatis.user where id = #{id}
    </select>

    <select id="getUsernyname" parameterType="String" resultType="com.pojo.User">
        select * from mybatis.user where name = #{naem}
    </select>
<!--    对象中的属性可以直接取出来-->
    <insert id="addUser" parameterType="com.pojo.User" >
        insert into mybatis.user (id,name,pwd) value (#{id},#{name},#{pwd})
    </insert>

    <insert id="addUser2" parameterType="map" >
        insert into mybatis.user (id,name,pwd) value (#{uid},#{uname},#{upwd})
    </insert>

    <update id="updateUser" parameterType="com.pojo.User">
        update mybatis.user set name = #{name} ,pwd=#{pwd} where id = #{id}
    </update>

    <delete id="deleteUser" parameterType="int">
        delete from mybatis.user where id = #{id}
    </delete>

</mapper>