<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace绑定一个对应的mapper接口-->
<mapper namespace="com.mapper.UserMapper">
<!--    <cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true"/>-->

    <cache type="org.mybatis.caches.ehcache.EhcacheCache" />

    <select id="getUserByid" parameterType="_int" resultType="user">
        select * from mybatis.user where id = #{id}
    </select>

    <insert id="addUser" parameterType="user">
        insert into user (id,name,pwd) value (#{id},#{name},#{pwd})
    </insert>

    <update id="updateUser" parameterType="map">
        update user set name = #{name} where id = #{id}
    </update>


</mapper>