<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- configuration  核心配置文件-->
<configuration>
<!--    引入外部配置文件-->



    <settings>
<!--        标准日志工厂-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="cacheEnabled" value="true"/>
<!--        <setting name="logImpl" value="LOG4J"/>-->
    </settings>

<!--可以给实体类起别名-->
    <typeAliases>
        <typeAlias type="com.pojo.Blog" alias="Blog"/>
    </typeAliases>
    <environments default="development">
        <!--       environment 环境 -->
        <environment id="development">
            <!--            transactionManager 事务管理-->
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis?useSSL=true&amp;useUnicode=true&amp;characterEncoding=UTF-8"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
        <environment id="pro">
            <!--            transactionManager 事务管理-->
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${pwd}"/>
            </dataSource>
        </environment>
        <!--        <environment id="test">-->
        <!--            <transactionManager type="JDBC"/>-->
        <!--            <dataSource type="POOLED">-->
        <!--                <property name="driver" value="${driver}"/>-->
        <!--                <property name="url" value="${url}"/>-->
        <!--                <property name="username" value="${username}"/>-->
        <!--                <property name="password" value="${password}"/>-->
        <!--            </dataSource>-->
        <!--        </environment>-->
    </environments>
    <!--    每一个mapper.xml都要注册-->
    <mappers>
<!--        <mapper resource="com/mapper/UserMapper.xml"/>-->
<!--        <mapper class="com.mapper.UserMapper"/>-->

<!--        <mapper class="com.mapper.UserMapper"/>-->
<!--        用类的注意事项：接口和配置文件必须同名，且位于同一个包下-->
<!--        <package name="com.mapper"/>-->
<!--        注意点同上-->
<!--        <mapper resource="com/mapper/*Mapper.xml"/>-->
<!--        <mapper resource="com/mapper/BlogMapper.xml"/>-->
        <mapper class="com.mapper.BlogMapper"/>
    </mappers>


</configuration>